<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Song Game App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <!-- Favicon and PWA icons -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"/>


    <!-- Vite -->
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body class="h-full auto">
    <%= yield %>
  </body>
</html>

<style>
  html, body {
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    overflow: hidden;
  }
</style>
